.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 90vh;
    margin: 0 auto;
    width: 400px;
}

.link {
    border: 2px solid #fff;
    border-radius: 0.5rem;
    display: block;
    font-size: 1.25rem;
    padding: 0.5rem;
    text-decoration: none;
    background: #fff;
    color: #000;
    transition: transform 0.2s;
    font-size: var(--font-size-base);
}

.link:focus,
.link:hover {
    transform: scale(1.05);
}
