---
import Layout from "../layouts/Layout.astro";
import Links from "../components/Links.js";
---

<Layout title="DV's Social Links">
  <main>
    <h1>David's Social Links</h1>
    <Links />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    text-align: center;
  }
</style>
