---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="David Vekony">
  <main class="container flex flex-col">
    <Header />
    <Links />
    <Footer />
  </main>
</Layout>
