---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="David Vekony">
  <main>
    <Header />
    <Links />
    <Footer />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    text-align: center;
  }
</style>
