---
import { Image } from "@astrojs/image/components";
import AstroLogo from "../images/logomark-dark.png";
import GitHubLogo from "../images/GitHub-Mark-Light-32px.png";
---

<footer>
  <h5>Built with Astro</h5>
  <div>
    <a href="https://astro.build/" target="_blank" rel="noopener"
      ><Image
        src={AstroLogo}
        width={20}
        aspectRatio={1 / 1}
        quality={100}
        class="logo"
        alt="Astro Logo"
      />
    </a>
    <a href="https://github.com/davidvekony/social-links-page" target="_blank"
      ><Image
        src={GitHubLogo}
        width={20}
        aspectRatio={1 / 1}
        quality={100}
        class="logo"
        alt="GitHub Logo"
      />
    </a>
  </div>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;
    margin: 1rem auto 1rem auto;
  }

  h5 {
    font-size: 0.75rem;
    font-weight: 600;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .logo {
    margin: 0 0.5rem;
  }
</style>
