---
import { Image } from "astro:assets";
import AstroLogo from "../images/logomark-dark.png";
import GitHubLogo from "../images/github-mark-white.png";
---

<footer class="container">
  <h5>Built with Astro</h5>
  <div class="container flex flex-row">
    <a href="https://astro.build/" target="_blank" rel="noopener"
      ><Image src={AstroLogo} width={25} alt="Astro Logo" />
    </a>
    <a
      href="https://github.com/davidvekony/social-links-page"
      target="_blank"
      rel="noopener"
      ><Image src={GitHubLogo} width={25} alt="GitHub Logo" />
    </a>
  </div>
</footer>
