---
import { Image } from "@astrojs/image/components";
import profileImage from "../images/profile.jpeg";
---

<Image src={profileImage} width={100} quality={100} alt="Profile image" />
<h1>David Vekony</h1>
