---
import { Image } from "astro:assets";
import profileImage from "../images/profile.jpg";
---

<Image src={profileImage} width={125} alt="Profile photo of David Vekony" />
<h1>David Vekony</h1>

<style>
  img {
    border-radius: 50%;
    margin-top: 1rem;
  }
</style>
