---
type Link = {
  label: string;
  url: string;
  imageClasses: string;
};

const links: Link[] = [
  {
    label: "Instagram",
    url: "https://www.instagram.com/vekonydavid/",
    imageClasses: "bi bi-instagram",
  },
  {
    label: "GitHub",
    url: "https://github.com/davidvekony",
    imageClasses: "bi bi-github",
  },
  {
    label: "Mastodon",
    url: "https://maestodon.com/@davidvekony",
    imageClasses: "bi bi-mastodon",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/davidvekony/",
    imageClasses: "bi bi-linkedin",
  },
  {
    label: "Telegram",
    url: "https://t.me/davidvekony",
    imageClasses: "bi bi-telegram",
  },
  {
    label: "Twitter",
    url: "https://twitter.com/VekonyDavid",
    imageClasses: "bi bi-twitter",
  },
];
---

<nav class="">
  {
    links.map((link) => (
      <div class="">
        <i class={link.imageClasses} />
        <a href={link.url} target="_blank" rel="noopener" class="">
          {link.label}
        </a>
      </div>
    ))
  }
</nav>
