---
const { imageClass, url, label } = Astro.props;

type Link = {
  label: string;
  url: string;
  imageClass: string;
};
---

<div class="link-row">
  <i
    class=`fa-brands fa-xl ${imageClass}`
    style="--fa-animation-duration: 3s; --fa-animation-iteration-count: 1;"></i>
  <a href={url} target="_blank" rel="noopener" class="link">
    {label}
  </a>
</div>

<script>
  const linkRows = document.querySelectorAll("div.link-row");

  linkRows.forEach((linkRow) => {
    const icon = linkRow.querySelector("i");

    if (icon) {
      linkRow.addEventListener("mouseover", () => {
        icon.classList.add("fa-shake");
      });

      linkRow.addEventListener("mouseout", () => {
        icon.classList.remove("fa-shake");
      });
    }
  });
</script>

<style>
  .link-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .link {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 100%;
    text-decoration: none;
    background: #fff;
    color: var(--color-bg);
    transition: transform 0.2s;
    font-size: var(--font-size-base);
    gap: 1rem;
  }
  .link:focus,
  .link:hover {
    transform: scale(1.05);
  }
</style>
