---
type Link = {
  label: string;
  url: string;
  imageClasses: string;
};

const links: Link[] = [
  {
    label: "Instagram",
    url: "https://www.instagram.com/vekonydavid/",
    imageClasses: "bi bi-instagram",
  },
  {
    label: "GitHub",
    url: "https://github.com/davidvekony",
    imageClasses: "bi bi-github",
  },
  {
    label: "Mastodon",
    url: "https://mas.to/@davidvekony",
    imageClasses: "bi bi-mastodon",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/davidvekony/",
    imageClasses: "bi bi-linkedin",
  },
  {
    label: "Telegram",
    url: "https://t.me/davidvekony",
    imageClasses: "bi bi-telegram",
  },
  {
    label: "Twitter",
    url: "https://twitter.com/VekonyDavid",
    imageClasses: "bi bi-twitter",
  },
];
---

<nav class="links">
  {
    links.map((link) => (
      <div class="link-row">
        <i class={link.imageClasses} />
        <a href={link.url} target="_blank" rel="noopener" class="link">
          {link.label}
        </a>
      </div>
    ))
  }
</nav>

<style>
  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 90vh;
    margin: 0 auto;
    width: 90vw;
    max-width: 350px;
  }

  .link-row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .link {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    padding: 0.75rem;
    width: 100%;
    text-decoration: none;
    background: #fff;
    color: var(--color-bg);
    transition: transform 0.2s;
    font-size: var(--font-size-base);
    gap: 1rem;
  }
  .link:focus,
  .link:hover {
    transform: scale(1.05);
  }
</style>
