---
import Link from "./Link.astro";

type Link = {
  label: string;
  url: string;
  imageClass: string;
};

const links: Link[] = [
  {
    label: "Instagram",
    url: "https://www.instagram.com/vekonydavid/",
    imageClass: "fa-instagram",
  },
  {
    label: "GitHub",
    url: "https://github.com/davidvekony",
    imageClass: "fa-github",
  },
  {
    label: "Mastodon",
    url: "https://mas.to/@davidvekony",
    imageClass: "fa-mastodon",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/davidvekony/",
    imageClass: "fa-linkedin",
  },
  {
    label: "Telegram",
    url: "https://t.me/davidvekony",
    imageClass: "fa-telegram",
  },
  {
    label: "Threads",
    url: "https://www.threads.net/@vekonydavid",
    imageClass: "fa-threads",
  },
];
---

<nav class="container">
  {links.map((link) => <Link {...link} />)}
</nav>
